.headGrid {
    display: grid;
    grid-template: 5em 1fr / 1fr 1fr;
}

.headDiv {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
}

.grid1 {
    width: 40vw;
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    align-self: center;
    border: 5px solid black;
}

.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --color-first: rgb(128, 0, 0);
    --color-last: rgb(50, 205, 50);
}

.square1-1 {
    background-color: floralwhite;
}

.square1-2 {
    background-color: var(--color-first);
}

.square1-3 {
    background-color: lightseagreen;
}

.square1-4 {
    background-color: coral;
}

.square1-5 {
    background-color: darkslateblue;
}

.square2-1 {
    background-color: lightgoldenrodyellow;
}

.square2-2 {
    background-color: tomato;
}

.square2-3 {
    background-color: mediumorchid;
}

.square2-4 {
    background-color: steelblue;
}

.square2-5 {
    background-color: var(--color-last);

}

.square3-1 {
    background-color: peru;
}

.square3-2 {
    background-color: turquoise;
}

.square3-3 {
    background-color: lavenderblush;
}

.square3-4 {
    background-color: firebrick;
}

.square3-5 {
    background-color: mediumseagreen;
}

.square4-1 {
    background-color: goldenrod;
}

.square4-2 {
    background-color: royalblue;
}

.square4-3 {
    background-color: mediumvioletred;
}

.square4-4 {
    background-color: lightcoral;
    color: black;
    transition: background-color 1s ease, color 1.5s ease;
}

.square4-4:hover {
    background-color: rgb(14, 16, 155);
    color: white;
}

.square4-5 {
    background-color: darkorange;
}

.square5-1 {
    background-color: darkkhaki;
}

.square5-2 {
    background-color: rebeccapurple;
}

.square5-3 {
    background-color: dodgerblue;
}

.square5-4 {
    background-color: palevioletred;
}

.square5-5 {
    background-color: darkcyan;
}

@keyframes change-color {
    from {
        background-color: var(--color-first);
    }

    to {
        background-color: var(--color-last);
    }
}

.color-animation-test {
    animation-name: change-color;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}